*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background: url(../images/backgroundPattern.jpg);
    background-position: center;
    background-size: cover;
}



.firstCrystalImage {
    height: 30px;
    width: 30px;
}

.titleText{
    font-size: 50px;
    color: papayawhip;
    background-color: darkorange;
}

.rulesBox {
    display: table;
    position: relative;
    background-color: papayawhip;
    letter-spacing: 3px;
    color: green;
    padding: 20px;
    width: 450px;
    height: 90px;
}

.targetNumber {
    margin-right: 150px;
    width: 150px;
    height: 130px;
    background-color: aquamarine;
    color: darkviolet;
    padding: 10px;
}

.wins-losses {
    position: relative;
    padding: 10px;
    left: 160px;
    bottom: 130px;
    width: 150px;
    height: 130px;
    background-color: darkcyan;
    color: aliceblue;

}

.crystalBox {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 3px;
    margin: 3px;
    bottom: 130px;
}

.counter {
    font-size: 20px;
    position: relative;
    bottom: 130px;
    width: 250px;
    height: 150px;
    background-color: darkseagreen;
    color: blue;
}

.counterDigits {
    font-size: 40px;
}

@media screen and (max-width: 640px) {

.titleText {
    text-align: center;
    position: relative;
    left: 6.5vw;
    width: 70vw;
    height: 5vh;
    font-size: 20px;

}

.rulesBox {
    letter-spacing: 0px;
    position: relative;
    left: 5vh;
    width: 70vw;
    height: 30vh;
    font-size: 12px
}

.targetNumber {
    position: relative;
    left: 6.5vw;
    margin-right: 150px;
    width: 105px;
    height: 91px;
    padding: 5px;
}

.wins-losses {
    position: relative;
    padding: 5px;
    left: 25vh;
    bottom: 90px;
    width: 1;
    height: 90px;
    background-color: darkcyan;
    color: aliceblue;

}

.crystalBox {
    left: 5.4vw;
    bottom: 12vh;
    width: 80px;
    height: 80px;
    padding: 3px;
    margin: 3px;
    
}

.counter {
    
    text-align: center;
    left: 6.5vw;
    bottom: 80px;
    font-size: 15px;
    width: 250px;
    height: 80px;
    background-color: darkseagreen;
    color: blue;
}

}   
