*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background: url(../images/backgroundPattern.jpg);
    background-position: center;
    background-size: cover;
}

.item{
    font-weight: 800;
}

.firstCrystalImage {
    height: 30px;
    width: 30px;
}

.titleText{
    font-size: 50px;
    color: papayawhip;
    background-color: darkorange;
}

.rulesBox {
    display: table;
    background-color: papayawhip;
    letter-spacing: 3px;
    color: green;
    width: 450px;
    height: 90px;
}

.targetNumber {
    margin-right: 150px;
    width: 150px;
    height: 130px;
    background-color: aquamarine;
    color: darkviolet;
    padding: 10px;
}

.wins-losses {
    position: relative;
    left: 160px;
    bottom: 130px;
    width: 150px;
    height: 130px;
    background-color: darkcyan;
    color: aliceblue;

}

.crystalBox {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 3px;
    margin: 3px;
    bottom: 130px;
}

.counter {
    font-size: 20px;
    position: relative;
    bottom: 130px;
    width: 250px;
    height: 150px;
    background-color: darkseagreen;
    color: blue;
}

.counterDigits {
    font-size: 40px;
}

